
body {
  background-color: #f0f0f0; /* Light gray background */
  color: #333333; /* Dark gray text color */
  font-family: Arial, sans-serif;
}

.App {
  text-align: center;
}

header {
  background-color: #223366; /* Dark blue header */
  color: white;
  padding: 20px 0;
  margin-bottom: 20px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.header-logo {
  display: flex;
  align-items: center;
  margin: auto;
  text-decoration: none;
  color: white;
}

.bird-icon {
  width: 30px;
  margin-right: 10px;
  animation: bird-animation 2s ease-in-out infinite alternate;
}

@keyframes bird-animation {
  0%, 5%, 10%, 15% {
    transform: translateY(10px);
  }
  50% {
    transform: rotateY(180deg);
  }
  65%, 80% {
    transform: translateY(10px);
  }
  100% {
    transform: rotateY(0deg);
  }
}

.info-button {
  background: none;
  border: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.info-button:hover {
  color: #be3737; /* Light gray on hover */
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.drop-area {
  border: 2px dashed #7788aa; /* Light blue dashed border */
  border-radius: 5px;
  padding: 20px;
  cursor: pointer;
  margin-bottom: 20px;
}

.drop-area p {
  margin: 0;
}

.drop-area input[type="file"] {
  display: none;
}

.uploaded-image {
  max-width: 100%;
  max-height: 300px;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  justify-content: center;
}

.classify-button,
.clear-button {
  background-color: #94C973; /* Green for classify button */
  color: white;
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;
  height: 50px;
  width: 150px;
  border-style: solid;
}

.classify-button {
  margin-right: 5px;
  border-color: #76b947; /* Darker green border */
}
.clear-button {
  background-color: #E7625F; /* Red for clear button */
  margin-left: 5px;
  border-color: #C85250; /* Darker red border */
}

.classify-button:hover {
  background-color: #76b947; /* Darker green on hover */
}

.clear-button:hover {
  background-color: #C85250; /* Darker red on hover */
}

.infobox {
  border-radius: 5px;
  padding: 20px;
  width: 50%;

}

.infoboxMobile {
  border-radius: 5px;
  padding: 20px;
  width: 85%;
  margin-bottom: 10px;
}

.infobox-title {
  font-size: 1.2em;
  margin-bottom: 10px;
  text-align: center;
}


.infobox-text {
  font-size: 0.9em;
  line-height: 1.5;
  text-align: justify;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  grid-template-rows: repeat(4, auto); /* 4 rows */
  grid-gap: 16px; 
}

.image-gridMobile{
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  grid-template-rows: repeat(6, auto); /* 4 rows */
  grid-gap: 5px; 

}

.image-item {
  overflow: hidden; /* Ensure images don't overflow their container */
}

.image-item img {
  width: 100%;
  height: auto;
  display: block; /* Ensure images don't have extra space below */
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0px;
  left: 0px;
  z-index: 1000;
  overflow: block;
}